*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Assistant', sans-serif;
	background-image: 
		url(images/headerblobs.svg);
	background-size: 
		100%;
	background-position: 
		top;
	background-repeat: no-repeat;
}

p {
	color: #767676;
}

/*---- nav bar ---*/

.navbar-nav li
{
	margin-top: 20px;
	padding: 0 20px;
}

.navbar-nav li a
{
	color: #767676 !important;
	font-weight: 600;
	font-size: 18px;
	float: right;
	text-align: left;
	padding-bottom: 0px;
}

.navbar-toggler
{
	margin-top: 20px;
	padding: 0.25rem 0.50rem;
	line-height: 0;
}

.navbar-light .navbar-nav > li > a:hover, 
.navbar-light .navbar-nav > li > a:focus {
    color: #FF4185 !important;
}

.navbar-light .navbar-nav .active >.nav-link
{
	color: #FF4185 !important;
}

/*---- landing pg ---*/

#landing
{
	padding-top: 5%;
}

.intro-title
{
	font-size: 40px;
	font-family: 'Stardos Stencil', cursive;
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	color: black;
}

#typed
{
	font-size: 40px;
	font-family: 'Stardos Stencil', cursive;
	margin-top: 100px;
	color: black;
}

.intro-col
{
	margin-top: 200px;
	margin-left: 100px;
}

/* Cursor */
.typed-cursor {
	font-size: 40px;
}

.jessica
{
	color: #FF4185;
}

.des-dev
{
	color: #FF4185;
	font-weight: 600;
}

.intro-text
{
	margin-right: 25px;
}

.img-fluid
{
	margin-top: 20px;
}


/*---- whatdo ---*/

#whatdo
{
	padding: 100px 0;
}

.design-icon
{
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.code-icon
{
	height: 50px;
	margin-bottom: 20px;
}

.whatdo-text
{
	padding-right: 50px;
}

#whatdo h4, h5 
{
	font-weight: 600;
	color: #767676;
}

.view-design, .view-code
{
	color: #50D0C9;
}

.view-design:hover, .view-code:hover
{
	color: #135796;
}

#whatdo a
{
	float: right;
	margin-right: 50px;
}

.whatdo-title
{
	margin-bottom: 50px;
}


/*---- about me ---*/

#darkblobsection
{
	background-image: 
	url(images/rectblob.svg);
	background-size: 
		100%;
	background-position: 
		top;
	background-repeat: no-repeat;
}

.profile-icon
{
	margin-top: 20%;
	height: 60%;
}

#aboutme h5
{
	padding-top: 40px;
	color: #F1F1F1;
	margin-left: 0px;
}

#aboutme
{
	margin-bottom: 150px;
}

.aboutme-text
{
	padding-top: 16px;
	color: #F1F1F1;
}

/*---- projects ---*/

#projects
{
	margin-top: 200px;
}

#projects h4, h5
{
	font-weight: 600;
	color: #767676;
}

#projects-title
{
	margin-bottom: 100px;
	margin-top: 100px;
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #767676;
  border-radius: 15px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
  border-radius: 15px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border-radius: 15px;
}

.hovereffect h2 {
  font-weight: 600px;
  text-shadow: #555555 2px 2px 10px;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 32px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
  border-radius: 15px;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  border-radius: 15px;
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border-radius: 15px;
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  border-radius: 15px;
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  border-radius: 15px;
}

.hovereffect:hover p
{
	padding-top: 10px;
}

.square
{
	margin: 10px 0px;
}

.design-work
{
	font-size: 20px;
	color: #FF4185 !important;
	margin: 0px;
}

.dev-work
{
	font-size: 20px;
	color: #FF4185 !important;
	margin-top: 100px;
}


/*---- contact ---*/

#contact
{
	padding-top: 40%;
	background-image: 
		url(images/largepinkblob.svg);
	background-position: 
		top;
	background-repeat: no-repeat;
	background-size:cover;
}

#contact .col-md .connect-col
{
	padding: 0px;
}
.contact-title
{
	font-size: 40px;
	font-family: 'Stardos Stencil', cursive;
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	color: white;
	margin-bottom: 0px;
}

.contact-button
{
	margin: 10px;
	height: 50%;
}

.end-connect
{
	padding-bottom: 150px;
}

.arrow
{
	padding-bottom: 50px;
}

.arrow img
{
	height: 80%;
}

.credits
{
	font-size: 12px;
	color: white;
}

/*---- media queries ---*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.intro-title 
	{
    	margin-top: 50px;
    }

    .intro-col
	{
		margin-left: 30px;
		margin-top: 100px;
	}
    .img-fluid
	{
		margin-top: 0px;
	}

	.design-icon, .code-icon, .whatdo-text
	{
		margin-left: 50px;
		margin-right: 50px;
	}

	#whatdo h4, h5
	{
		margin-left: 50px;
		margin-right: 50px;
	}

	#darkblobsection
	{
		background-image: 
		url(images/rectblob.svg);
		background-size: 
			350% !important;
		background-position: 
			top;
		background-repeat: no-repeat;
	}

	.square
	{
		margin: 20px 20px
	}

	.contact-title
	{
		margin-top: 200px;	
	}
} 

@media only screen and (max-width: 766px) {
	#darkblobsection
	{
		background-image: 
		url(images/rectblob.svg);
		background-size: 
			250%;
		background-position: 
			top;
		background-repeat: no-repeat;
	}

	.profile-icon
	{
		height: 60%;
		margin-top: 15%;
		margin-left: 100px;
		margin-right: 100px;
		margin-bottom: 0px;
	}

	#aboutme h5
	{
		padding-top: 0px;
		margin-left: 20%;
	}

	.aboutme-text
	{
		padding-top: 5px;
		margin-left: 20%;
		margin-right: 20%;
	}

	#projects
	{
		background-image: 
			url(images/largeblueblob.svg);
		background-size: 
			100%;
		background-position: 
			50% 1000px !important;
		background-repeat: no-repeat;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
	#projects{
		background-image: 
			url(images/largeblueblob.svg);
		background-size: 
			100%;
		background-position: 
			top;
		background-repeat: no-repeat;
	}


	#projects
	{
		padding-top: 20px;
		margin-top: 0px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.intro-title 
	{
    	margin-top: 150px;
    }

    .img-fluid
	{
		margin-top: 20px;
		height: 80%;
	}

	.intro-title
	{
		margin-left: 100px;
	}

	body
	{
		background-image: 
			url(images/headerblobs.svg),
			url(images/darkblob.svg),
			url(images/pinkblob.svg),
			url(images/smolblueblobs.svg),
			url(images/largeblueblob.svg),
			url(images/projects.svg);
		background-size: 
			100%,
			15%,
			15%,
			20%,
			100%,
			1.5%;
		background-position: 
			top,
			0 500px,
			100% 650px,
			100% 1550px,
			50% 1950px,
			10% 1900px;
		background-repeat: no-repeat;
	}

	.design-icon, .code-icon, .whatdo-text
	{
		margin-left: 50px;
		margin-right: 50px;
	}

	#whatdo h4, h5
	{
		margin-left: 50px;
		margin-right: 50px;
	}

	#whatdo a
	{
		float: right;
		margin-right: 100px;
	}

	.profile-icon
	{
		height: 60%;
		margin-left: 50px;
	}

	#projects
	{
		padding-top: 20px;
		margin-top: 0px;
	}

	#aboutme h5
	{
		padding-top: 80px;
		color: #F1F1F1;
		margin-left: 0px;

	}

	.aboutme-text
	{
		padding-top: 16px;
		margin-right: 24px;
	}
} 

