*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Assistant', sans-serif;
	background-image: 
		url(images/headerblobs.svg);
	background-size: 
		100%;
	background-position: 
		top;
	background-repeat: no-repeat;
}

/*---- nav bar ---*/

.navbar-nav li
{
	margin-top: 20px;
	padding: 0 20px;
}

.navbar-nav li a
{
	color: #135796 !important;
	font-weight: 600;
	float: right;
	text-align: left;
}

.navbar-toggler
{
	margin-top: 20px;
	padding: 0.25rem 0.50rem;
	line-height: 0;
}

/*---- landing pg ---*/

#landing
{
	padding-top: 5%;
}

.intro-title
{
	font-size: 40px;
	font-family: 'Stardos Stencil', cursive;
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.jessica
{
	color: #FF4185;
}

.des-dev
{
	color: #FF4185;
	font-weight: 600;
}

.intro-text
{
	margin-left: 50px;
	margin-right: 25px;
}

.img-fluid
{
	margin-top: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.intro-title 
	{
    	margin-top: 50px;
    }

    .img-fluid
	{
		margin-top: 0px;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.intro-title 
	{
    	margin-top: 150px;
    }

    .img-fluid
	{
		margin-top: 0px;
	}

	.intro-title
	{
		margin-left: 100px;
	}

	.intro-text
	{
		margin-left: 100px;
	}

	body
	{
		background-image: 
			url(images/headerblobs.svg),
			url(images/darkblob.svg);
		background-size: 
			100%,
			15%;
		background-position: 
			top,
			0 125%;
		background-repeat: no-repeat;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

